*{
    margin: 0;
    text-decoration: none;
    padding: 0;
}

:root{
    --varfontLobster: "Lobster", sans-serif;
    --varFontKarla : "Karla", sans-serif;
    --varfont3: "Montserrat";
    --varfont4 : "Monsieur La Doulaise", cursive;
    /* --varfont5 : "Edu VIC WA NT Hand Pre"; */
}

body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page1 {
    display: flex;
    position: relative; /* penting untuk posisi pseudo-element */
    background-image: url(img/prewed1.jpg);
    min-height: 100vh;
    flex-direction: column; /* supaya isi tersusun dari atas ke bawah */
    padding: 2rem;
    background-size: cover;        
    background-position: center; 
    justify-content: center;  
    background-repeat: no-repeat;
    z-index: 0; /* supaya pseudo-element bisa diatur posisinya */
}

.page1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* ubah warna dan tingkat transparansi sesuai keinginan */
    z-index: 1;
}

/* isi halaman tetap terlihat di atas overlay */
.page1 > * {
    position: relative;
    z-index: 2;
}
.back{
    background-color: #251414;
}

.containerPage1 {
    position: absolute;
    top: 60%; /* Sedikit di bawah tengah */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #251414;
    font-family: var(--varFontKarla);
    padding: 20px;
    /* border-radius: 10px; */
    width: 80%;
    max-width: 80%;
    /* margin-top: 50px; */
    bottom: 10px;
}

.containerPage1 p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--varFontKarla);
    padding-top: 10px;
    color: rgba(255, 255, 255,0.8);
    /* text-shadow: 
    -0.5px -0.5px 0 #ffffff,  
     0.5px -0.5px 0 #ffffff,  
    -0.5px  0.5px 0 #ffffff,  
     0.5px  0.5px 0 #ffffff; */
}

.containerPage1 .tebal {
    font-family: var(--varfont3);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.page2{
    display: flex;
    position: relative;
    z-index: 0;
    background-image: url(img/prewed4.jpg);
    min-height: 100vh;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    justify-content: center;
}

.page2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}
.fade-text {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}
.fade-text.show {
  opacity: 1;
  transform: translateY(0);
}

.page2 > * {
    position: relative;
    z-index: 2;
}

.fade-slide-down,
.fade-slide-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-slide-down.show,
.fade-slide-up.show {
  opacity: 1;
  transform: translateY(0);
}

.containerpage2{
    background-color: rgba(138, 120, 78, 0.4);
    height: 190px;
    border-radius: 15px;
    margin-top: 15px;
    max-width: 90%;
    width: 80%;
    height: 220px;
    position: relative;
    z-index: 1;
}

.containerpage2 .atas, .containerpage3 .atas{
    color: rgb(240, 248, 255);
    font-family: var(--varFontKarla);
    font-size: 20px;
    padding: 20px 20px  20px;
}

.containerpage3 {
    position: absolute;
    bottom: 5%;
}

.atas .tipis{
    font-size: 10px;
}

.laks{
    margin-top: 10px;
}
.atas .laks,.laks1{
    font-size: 30px;
    font-weight: 800;
}

.bwh{
    padding-left: 20px;
}

.bwh p{
    color: aliceblue;
    font-size: 10px;
    font-family: var(--varFontKarla);
}


/* animasi naik dari bawah */

/* page3 */
.page3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Biar container ada di bawah */
    align-items: center;
    position: relative;
    background-image: url(img/prewed3.jpg);
    min-height: 100vh;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
}

.page3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}

.containerpage3 {
    background-color: rgba(138, 120, 78, 0.4);
    border-radius: 15px;
    max-width: 90%;
    width: 80%;
    height: 220px;
    position: relative;
    z-index: 2; 
    margin-bottom: 30px; 
}

.page3 > * {
    position: relative;
    z-index: 2;
}


.containerpage3 .atas .laks{
    margin-top: 10px;
}
.containerpage3 .atas .laks,.laks1{
    font-size: 30px;
    font-weight: 800;
}

.containerpage3.bwh{
    padding-left: 20px;
}

.bwh p{
    color: aliceblue;
    font-size: 10px;
    font-family: var(--varFontKarla);
}

/* page 4 start */
.page4{
    display: flex;
    position: relative;
    z-index: 0;
    background-image: url(img/prewed6.jpg);
    min-height: 100vh;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    justify-content: center;
}

.page4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}

.page4 > * {
    position: relative;
    z-index: 2;
}

.conteinerpage4{
    background-color: rgba(138, 120, 78, 0.4);
    height: 190px;
    border-radius: 15px;
    margin-top: 15px;
    max-width: 90%;
    width: 80%;
    height: 90vh;
    /* position: relative; */
    z-index: 1;
}

.pag4atas {
    /* position: relative; */
    padding: 20px;
    margin-bottom: 30px; /* jarak antar blok */
    border-radius: 20px;
    color: white;
    height: 220px;
}

.pag4atas p{
    font-family: var(--varFontKarla);
    color: aliceblue;
    font-size: 20px;
}

.pag4atas .wedd{
    font-family: var(--varfont4);
    font-size: 35px;
}

.pag4atas .her{
    margin-top: 5px;
}

.her .kcl{
    font-size: 18px;
    margin-top: 5px;
}

.her .tbl{
    font-size: 45px;
    font-weight: 500;
}

.jln p{
    margin-top: 15px;
    font-size: 13px;
    color: rgba(240, 248, 255, 0.8);
}

.pag4atas a {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: white;
  text-decoration: underline;
  padding-top: 10px;
}


.pag4bwh p{
    font-family: var(--varFontKarla);
    color: aliceblue;
    font-size: 20px;
}

/* page 5 start */

.page5{
    display: flex;
    position: relative;
    z-index: 0;
    background-image: url(img/prewed3.jpg);
    min-height: auto;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    justify-content: center;
}

.page5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}

.page5 > * {
    position: relative;
}

.gallery-wrapper {
  max-width: 1000px;
  margin-top: 20px;
  width: 80%;
  min-height: 80%;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: rgba(138, 120, 78, 0.4);
  position: relative;
  z-index: 1;
}

.gallery-wrapper h2 {
  font-size: 35px;
  font-family: var(--varfont5);
  margin-bottom: 15px;
  margin-top: 15px;
  color: rgba(240, 248, 255, 0.9);
  
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.gallery-item {
  aspect-ratio: 1 / 2;
  overflow: hidden;
  /* border-radius: 15px; */
}

.gallery-item img {
  width: 100%;
  height: 130%;
  object-fit: cover;
  display: block;
}



/* START PAGE 6 */
.page6{
    display: flex;
    position: relative;
    z-index: 0;
    background-image: url(img/prewed3.jpg);
    min-height: 100vh;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    justify-content: center;
}

.page6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}

.page6 > * {
    position: relative;
    z-index: 2;
}

.containerpage6 {
    background-color: rgba(138, 120, 78, 0.4);
    border-radius: 15px;
    max-width: 90%;
    width: 80%;
    height: 220px;
    z-index: 2; 
    margin-bottom: 30px; 
    position: absolute;
    bottom: 5%;
}

.containerpage6 .atas{
    padding: 20px;
    color: aliceblue;
}

.atas p{
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--varFontKarla);
    color: rgba(240, 248, 255,0.8);
}

.atas .tipis{
    font-size: 25px;
    font-family: var(--varfont5);
    color: aliceblue;

}

.atas .copy-area{
    margin-top: 30px;
}

    .copy-container {
      background-color: white;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      gap: 10px;
      align-items: center;
    }

    select {
      padding: 10px;
      border: 0.5px solid rgba(255, 255, 255, 0.6);
      /* border-radius: 6px; */
      font-size: 12px;
      width: 250px;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8);
    }

    button {
      background-color: #181613;
      border: none;
      padding: 10px 20px;
      /* border-radius: 6px; */
      font-size: 16px;
      cursor: pointer;
      color: white;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #4e4a45;
    }


/* start page 7 */
    .page7{
    display: flex;
    position: relative;
    z-index: 0;
    background-image: url(img/prewed3.jpg);
    min-height: 100vh;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    justify-content: center;
}

.page7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}

.page7 > * {
    position: relative;
    z-index: 2;
}

.conteinerpage7{
    background-color: rgba(138, 120, 78, 0.4);
    height: 190px;
    border-radius: 15px;
    margin-top: 15px;
    max-width: 90%;
    width: 80%;
    height: 90vh;
    position: relative;
    z-index: 1;
}

.conteinerpage7 .jshdn{
    padding: 20px;
    color: aliceblue;
}

.jshdn .jsksi{
    font-family: var(--varfont5);
    font-size: 35px;
    color: rgba(240, 248, 255,0.9);
    /* font-weight: 600; */
}

.jshdn .jdyana{
    margin-top: 20px;
    color: rgba(240, 248, 255,0.8);
    font-family: var(--varfont3);
    font-size: 15px;
}

.jshdn .inputan{
    margin-top: 20px;
}

.inputan .inpt{
    min-width: 100%;
    height: 30px;
    border-radius: 8px;
    padding-left: 10px; /* buat agak ke kanan */
    border: none;
    outline: none;
}

    .krim {
      background-color: rgb(24, 22, 19);
      border: none;
      padding: 10px 20px;
      /* border-radius: 6px; */
      font-size: 13px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      transition: background-color 0.3s ease;
    }

    .krim:hover {
      background-color: #4e4a45;
    }

.jahdka{
    justify-content: center;
    padding: 20px;
}

.jahdka .dksj{
    background-color: rgba(240, 248, 255, 0.3);
    margin-top: 20px;
    border-radius: 8px;
}

.dksj p{
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--varfont3);
    font-size: 13px;
}


/* page 8 start */

   .page8{
    display: flex;
    position: relative;
    z-index: 0;
    background-image: url(img/prewed4.jpg);
    min-height: 50vh;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    justify-content: center;
}

.page8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* warna overlay transparan */
    z-index: 1;
}

.page8 > * {
    position: relative;
    z-index: 2;
}

.conteinerpage8{
    background-color: rgba(138, 120, 78, 0.4);
    height: 190px;
    border-radius: 15px;
    margin-top: 15px;
    max-width: 90%;
    width: 80%;
    height: 90vh;
    position: relative;
    z-index: 1;
    justify-content: center;
}

.heropage8{
    justify-content: center;
    text-align: center;
}

.heropage8 p{
    color: rgba(240, 248, 255, 0.8);
    font-family: var(--varfont3);
    margin-top: 40px;
    font-size: 14px;
}

.heropage8 .jdyadd{
    font-family: var(--varfont5);
    font-size: 40px;
}

